html {
    font-size: 16px; /* You can adjust this to your preferred base font size */
  }

.labels{
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   
}
.lrFormHeading{
    font-weight: bolder;
    font-size: 1.7rem;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0065b2;
}
.lrForm{
    justify-content: start;
}
.inputField{
    font-size: 1rem;
    border: none;
    border-bottom:1px solid #0065b2 ;
    outline: none;
    background: transparent;
}
.lrSubmitButton{
    background:  transparent;
    border: 1.5px solid #0065b2;
    font-size: 1rem;
    height: 40px;
    width: 110px;
    text-align: center;
    padding:5px;
    border-radius: 25px;
    transition: background 0.5s ease;
    font-family: none;
}

.lrSubmitButton:hover{
    background:#0065b2 ;
}

.imagebgText{
    margin: 0 0.5em 0 0.5em;
    /* opacity: 0.8; */
    color: #FBFCF8;
    text-shadow: 2px 2px 10px gainsboro;
    /* border:2px solid red; */
    
}