.popularCardsBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.popularServicesContainer{
    background: linear-gradient(to right,#0065b24a ,transparent ,#0065b24a );

}